<div class="page-header">
  <h1>
    Friend requests
    <a href="/friend_requests/new" class="btn btn-lg btn-success">New Friend request</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Sender</th>
        <th>Recipient</th>
        <th>Actions</th>
      </tr>

      <% @friend_requests.each do |friend_request| %>
      <tr>
        <td><%= friend_request.sender_id %></td>
        <td><%= friend_request.recipient_id %></td>
        <td>
          <a href="/friend_requests/<%= friend_request.id %>" class="btn btn-primary">Show</a>
          <a href="/friend_requests/<%= friend_request.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_friend_request/<%= friend_request.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
